<% each_year(newsletters) do |year_list| %>
  <h2><%=year_list.first.year-%> Newsletters</h2>
  <% unless year_list.first.editor.blank? %>
    <p>(By Editor <%=year_list.first.editor%>)</p>
  <% end %>
  <ul>
    <% year_list.each do |newsletter| %>
      <li><%= render :partial => 'newsletter', :object => newsletter %></li>
    <% end %>
  </ul>
<% end %>
